body{
	display: flex;
	justify-content: center;
}

p{
	background: gray;
	padding: 10px;
	border-radius: 2px;
}

@keyframes rotAndScale {
	from {
		transform: rotate(0deg), scale(1);
	}

	to {
		transform: rotate(180deg), scale(1.2);
	}
}