body{
	display: flex;
	justify-content: center;
}

p{
	background: gray;
	padding: 10px;
	border-radius: 2px;
	transition: 0.5s ease;
}

div{
	padding: 0;
}

p:hover{
	transform: rotate(360deg) scale(1.4);
}